html {
    height: 100%;
}

header {
    padding: 14px;
}

body {
    background-image: linear-gradient(#0d0d0d, #262226);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 8%;
    color: #d9d9d9;
}

a {
    color: #d9d9d9;
    text-decoration: none;
}

li {
    padding: 5px;
}

a:hover {
    text-decoration: underline;
}

.main {
    margin: 0 auto;
    margin-top: 10%;
    width: 70%;
    padding: 40px;
    border-radius: 20px;
    background-color: #3b233d;
    color: #d9d9d9;
    font-weight: bold;
}

.Logo {
    margin: 40px;
    text-align: center;
}

.Pesquisa {
    text-align: center;

    padding: 20px;
}

input {
    border-radius: 30px;
    height: 30px;
    width: 50%;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: #d9d9d9;
    color: #1a1a1a;
}

.Pesquisa input {
    width: 50%;
}

button {
    border-radius: 30px;
    padding: 0px 30px;
    height: 30px;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: #d9d9d9;
    color: #1a1a1a;
}

button:hover {
    background-color: #663d99;
    color: #d9d9d9;
}

.criarTopico {
    text-align: center;

    margin-top: 20px;
    padding: 20px;
}

.listaTopicos {
    display: none;
}

.headerTopico {
    text-align: center;
}

.comentar {
    margin: 0 auto;
    border-radius: 30px;
    padding: 0 30px;
    height: 30px;
    font-weight: bold;
    background-color: #663d99;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    font-size: 16px;
}

.comentar:hover {
    color: #1a1a1a;
    cursor: pointer;
    background-color: #bdb3ff;
    width: 50%;
}

.comentar a:hover {
    text-decoration: none;
}

.comentando {
    margin: 0 auto;
    border-radius: 30px;
    padding: 40px;
    font-weight: bold;
    background-color: #3b233d;
    width: 100%;
    transition: 0.5s;
    font-size: 20px;
}

.comentando p {
    float: left;
}

.comentando textarea {
    border-radius: 20px;
    width: 100%;
    height: 50%;
}

.comentando .input {
    padding: 15px 0;
}

.comentando input {
    width: 90%;
    float: right;
}

hr.hrSolid {
}

.opcoes {
    padding: 20px;
    text-align: right;
}

.comentario {
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    background-color: #3b233d;
    color: #d9d9d9;
}

.comentario h3 {
    color: #bdb3ff;
}

.comentario .coment {
    font-size: 16px;
    margin: 25px 50px;
    word-wrap: break-word;
    white-space: pre-line;
    height: auto;
}

.LikeData {
    padding: 10px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-weight: bold;
    font-size: 20px;
}

.like a {
    text-decoration: none;
}

.like:hover {
    cursor: pointer;
    color: #bdb3ff;
}

.material-symbols-outlined {
    margin-left: 50px;
    vertical-align: text-bottom;

    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
}

.data {
    color: #bdb3ff;
    text-align: right;

    font-weight: 600;
    transition: 0.2s;
}

.footer {
    margin-top: 75px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.footer .logo {
    position: relative;
    float: left;
    font-size: 25px;
    font-weight: bold;
}

.footer a {
    display: block;
    color: #d9d9d9;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    border-radius: 4px;
}

.footer .tag {
    text-align: left;
}

.footer .links {
    color: white;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    font-weight: unset;
    line-height: 25px;
    border-radius: 4px;
}

.footer-center {
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    margin: 0px 20%;
}

.btn-result {
    background-color: mediumpurple;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border: 2px solid #0d0d0d;
}

.btn-result:hover {
    background-color: #bdb3ff;
    color: black;
    border: 2px solid #0d0d0d;
    text-decoration: none;
}

.creator-name {
    color: white;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}

.msg-result {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.success-text {
    color: green;
    font-weight: bold;
}

.erro-text {
    color: red;
    font-weight: bold;
}

.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

.search {
    margin: 0 auto;
    border-radius: 30px;
    padding: 40px;
    font-weight: bold;
    background-color: #3b233d;
    width: 70%;
    transition: 0.5s;
    font-size: 20px;
}

button.close:hover,
button.btn.btn-secondary:hover {
    background-color: rgb(228, 87, 71);
}

.like-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.opcoes select {
    width: 173px;
    margin-right: 64px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d9d9d9;
}

.opcoes.form-container form {
    display: flex;

    align-items: center;
}

.userOrderContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-left: 20%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#orderSelect {
    order: 1;
}
